        body 
		{
            background-image: url('Background3.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            margin: 0;
			background-position: center;
			background-repeat: no-repeat;
        }
        
		#Titlescreen 
		{
            color: blue;
			border: 5px solid black; 
			padding: 10px;
			-webkit-text-stroke: 2px black;
            text-align: center; 
            margin-top: 30px;  
			cursor: pointer;
			text-decoration: none;
        }
		
		.facebook 
		{
		    position: absolute;
			margin-top: -80px;
		    right: 20px;
            width: 50px;
            height: 50px;
            cursor: pointer;
		}

		
		#Select
		{
		    color: red;
		    padding: 10px;
			text-align: center;
			margin-top: 30px
			border: 10px solid black;
			-webkit-text-stroke: 1px black;
		}
		
		.photo
		{
			background-image: url('PhotoBack.jpg');
			background-size: cover; 
            background-position: center;
            background-repeat: no-repeat; 
            border: none;
		    font-size: 30px;
		    padding: 20px 50px;
     	    color: white;
		    -webkit-text-stroke: 1px black;
		    cursor: pointer;
		    background-color: black;
            display: block;
		    margin: 5px auto;
			border: 3px solid white;
		}
		
		
		.video
		{
			background-image: url('VideoBack.jpg');
			background-size: cover; 
			background-position: center;
			background-repeat: no-repeat; 
			border: none;
			font-size: 30px;
			-webkit-text-stroke: 1px black;
			padding: 20px 50px;
			color: white;
			cursor: pointer;
			background-color: black;
			display: block;
			margin: 20px auto;
			border: 3px solid white;
		}